body{
    background-image:url("/recursos/imagenes/fondo.jpg");  
}
.fondoclaro{
    background-color:bisque
}

footer{
                position: absolute;
                bottom: 0;
                width: 100%;
            }

.enlaces{
    color:white;
    text-decoration: none;}